<span class="h2">Contact Information</span>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="/Content/Ivan.jpg" alt="..." class="img-thumbnail" width="172">
            <div class="caption">
                <h3>Ivan Josipovic</h3>
                <p>Senior Technical Consultant</p>
                <br />
                <p><b>Contact:</b></p>
                <p><a href="mailto:Ivan@AutoSPInstaller.com" target="_blank"><i class="fa fa-envelope-o"></i> Ivan@AutoSPInstaller.com</a></p>
                <p><a href="https://twitter.com/ivanjosipovic" target="_blank"><i class="fa fa-twitter"></i> IvanJosipovic</a></p>
                <p><a href="https://ca.linkedin.com/in/IvanJosipovic" target="_blank"> <i class="fa fa-linkedin-square"></i> Ivan Josipovic</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="/Content/Brian.jpg" alt="..." class="img-thumbnail" width="172">
            <div class="caption">
                <h3>Brian Lalancette</h3>
                <p>Professional Field Engineer at <a href="http://www.microsoft.com/" target="_blank">Microsoft</a></p>
                <br />
                <p><b>Contact:</b></p>
                <p><a href="mailto:Brian@AutoSPInstaller.com" target="_blank"><i class="fa fa-envelope-o"></i> Brian@AutoSPInstaller.com</a></p>
                <p><a href="https://twitter.com/brianlala" target="_blank"><i class="fa fa-twitter"></i> brianlala</a></p>
                <p><a href="https://ca.linkedin.com/in/brianlalancette" target="_blank"><i class="fa fa-linkedin-square"></i> Brian Lalancette</a></p>
            </div>
        </div>
    </div>
</div>
