<span class="h2">Guide</span>
<hr />
<p>
    AutoSPInstaller is a PowerShell based tool which automates the deployment
    of SharePoint 2010-2019. It has the ability to granularly configure
    most aspects of the farm and includes some interesting features such as:
    centralized farm deployment, granular database naming, XML configuration
    and more.
    <br />
    <br />
    The goal of AutoSPInstaller Online is to simplify this process. It will assist
    you with all of the configuration including some of the more complicated
    configurations such as adding additional Web Applications or Site
    Collections. Furthermore, there is a large amount of code just to make
    sure that all of the data is valid.
    <br />
    <br />
</p>
<h2> How to:</h2>
<ul>
    <li>Create the following domain accounts (They can be named anything):</li>
    <ul>
        <li>SP_Farm (Farm Account)</li>
        <li>SP_CacheSuperUser (Object Caching Account)</li>
        <li>SP_CacheSuperReader (Object Caching Account)</li>
        <li>SP_Services (Service Application Account)</li>
        <li>SP_PortalAppPool (Portal Application Pool Account)</li>
        <li>SP_ProfilesAppPool (MySites Application Pool Account)</li>
        <li>SP_SearchService (Search Service Application Pool Account)</li>
        <li>SP_SearchContent (Search Content Access Account)</li>
        <li>SP_ProfileSync (User Profile Sync Account)</li>
        <ul>
            <li>
                Requires Replicate Directory Changes Active Directory permission on the domain with which you'll synchronize
            </li>
        </ul>
    </ul>
    <li>
        Optionally for Enterprise Service Applications (Can be a single account)
    </li>
    <ul>
        <li>SP_ExcelUser (Excel Unattended ID)</li>
    </ul>
    <ul>
        <li>SP_VisioUser (Visio Unattended ID)</li>
        <ul></ul>
    </ul>
    <ul>
        <li>SP_PerfPointUser (Performance Point Unattended ID)</li>
    </ul>
    <li>
        Download the latest version of the <a href="http://autospinstaller.codeplex.com" target="_blank">AutoSPInstaller Scripts Here</a>
    </li>
    <li>
        Assuming that we are going to use this on SharePoint 2010 and that all of your SharePoint servers have Internet access
    </li>
    <ul>
        <li>
            There is more work required to place all the files in the correct locations if there is no internet access
        </li>
    </ul>
    <li>
        <strong>Please Note:</strong> The process is almost identical for SharePoint 2013
    </li>
    <ul>
        <li>
            Disable Windows Firewall or allow the following ports through the firewall, 22233,22234,22235 and 22236.
        </li>
        <ul>
            <li>Causes issues with Distributed Cache</li>
        </ul>
        <li>
            I would recommend enabling the "Auto Admin Login" option as 2013
            requires a number of reboots
        </li>
        <li>
            Make sure that all the Web Applications use Claims Based
            Authentication as Classic Based Authentication is now obsolete
        </li>
    </ul>
    <li>
        Extract the contents of the AutoSPinstaller.zip anywhere ie D:\Temp\<br />
    </li>
    <li>
        Place the contents of the SharePoint ISO in
        D:\Temp\SP\2010\SharePoint\<br />
    </li>
    <ul></ul>
    <ul>
        <ul></ul>
    </ul>
    <li>At this point you should have a folder structure similar to this</li>
    <ul></ul>
    <ul>
        <li>\SP\2010\</li>
        <ul>
            <li>ForeFront (Optional)</li>
            <li>LanguagePacks (Optional)</li>
            <li>OfficeWebApps (Optional)</li>
            <li>PDF (Optional)</li>
            <li>SharePoint (Place the SP2010 binaries here)</li>
            <li>Updates (Place any Cumulative Updates here, do not slip stream updates anymore as the process is broken!)</li>
        </ul>
        <li>SP\2013\</li>
        <ul>
            <li>ForeFront (Optional)</li>
            <li>LanguagePacks (Optional)</li>
            <li>PDF (Optional)</li>
            <li>SharePoint (Place the SP2013 binaries here)</li>
            <li>Updates (Place any Cumulative Updates here, do not slip stream updates anymore as the process is broken!)</li>
        </ul>
        <li>SP\AutoSPInstaller</li>
        <ul>
            <li>AutoSPInstallerConfigureRemoteTarget.ps1</li>
            <li>
                AutoSPInstallerFolderStructure.txt (Explains the folder structure further)
            </li>
            <li>AutoSPInstallerFunctions.ps1</li>
            <li>AutoSPInstallerFunctionsCustom.ps1</li>
            <li>
                AutoSPInstallerInput.xml (Example XML Configuration, do not edit this one. Leave it for reference)
            </li>
            <li>
                AutoSPInstallerLaunch.bat (Drag and Drop the XML configuration into this file to start the installation)
            </li>
            <li>AutoSPInstallerMain.ps1</li>
        </ul>
    </ul>
    <li>
        Please Note: You can keep both SharePoint versions binaries in the directories. The XML specifies which version will be installed.
    </li>
</ul>
<p>
    <br />
</p>
<ul>
    <ul></ul>
</ul>
<h2> Configuration</h2>
<ul>
    <li>At this point we can begin configuring AutoSPInstaller using AutoSPInstaller Online</li>
    <li class="text-danger">Please Note: The site has only been tested with the latest versions of each browser, Chrome, FireFox, IE11 and Safari.</li>
    <li>Browse back to the Home page, then select either "Load Default Template" or "Load from my XML" if you already have an existing configuration</li>
    <li>Navigate through the Farm Options on the left hand side navigation and complete each section</li>
    <li>To Save the Configuration</li>
    <ul>
        <li>Browse to the "Review & Download" Section and copy all of the text and save it to your machine as .xml (For example FarmA.xml)</li>
        <li class="text-danger">Please Note: Spaces in the file name are not supported!</li>
    </ul>
</ul>
<p>
    <br />
</p>
<h2> Installation</h2>
<ul>
    <li>
        Copy the <strong>SP </strong>directory (which we set up above) to all of the SharePoint Servers
    </li>
    <ul>
        <li>Optionally, the installation can be ran from a File Share</li>
    </ul>
    <li>
        Make sure that the logged on user has Local Admin on all the SharePoint Servers and SQL Permissions <strong>dbcreate </strong>and <strong>securityadmin</strong>
    </li>
    <li>
        Browse to the <strong>AutoSPInstaller </strong>dir ie D:\Temp\SP\AutoSPInstaller
    </li>
    <li>On each SharePoint Server (One at the time):</li>
    <li>
        Drag the new XML file ie <strong>FarmA.xml</strong> into the AutoSPInstaller.bat
    </li>
    <ul>
        <li>
            <img class="img-responsive" src="/Content/OpenWithBat.png" alt="" /><br />
        </li>
    </ul>
    <li>
        <strong>Please Note:</strong> If you double click on AutoSPInstaller.bat, it will use the AutoSPInstallerInput.xml config file by default
    </li>
    <li>
        AutoSPInstaller will now run, it will create a file on the Desktop which will contain the output of the PowerShell window and any errors<br />
    </li>
</ul>
<p>
    <br />
    If you have any questions please leave a comment.<br />
    <br />
    Enjoy!<br />
</p>