<div class="jumbotron">
    <h1>AutoSPInstaller Online</h1>
    <p class="lead">ASPIO is your SharePoint Deployment Central.</p>
    <br />
    <a href="/News" class="btn btn-success">Go to News »</a>
</div>
<div class="col-md-4">
    <h2>Guide</h2>
    <p>We highly suggest that you read our guide before your proceed.</p>
    <a class="btn btn-primary" href="/Guide">Go to Guide »</a>
</div>
<div class="col-md-4">
    <h2>Build a Farm</h2>
    <p>Choose this option to begin configuring your SharePoint Farm.</p>
    <a class="btn btn-success" href="/FarmConfiguration">Build a Farm »</a>
</div>
<div class="col-md-4">
    <h2>AutoSPInstaller</h2>
    <p>Download the latest version of AutoSPInstaller.</p>
    <a href="https://github.com/brianlala/AutoSPInstaller" target="_blank" class="btn btn-success">Download »</a>
</div>

<div class="col-md-12">
    <br />
    <br />
    <h4 class="text-danger">Please Note: Absolutely NO information about your Farm Config is ever sent to our servers!</h4>
    <h4 class="text-danger">Please Note: The site has only been tested with the latest versions of each browser, Chrome, FireFox, IE11 and Safari.</h4>
</div>