@page "{*url}"
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html lang="en" ng-app="ASPIO">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="fragment" content="!">
    <title ng-bind="title"></title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    @if (Environment.GetEnvironmentVariable("DisableTelemetry") != "True")
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-63546187-1', 'auto');
            ga('send', 'pageview');
        </script> <!--Google Analytics-->
        @Html.Raw(JavaScriptSnippet.FullScript)
    }
</head>
<body class="container">
    <a href="https://github.com/IvanJosipovic/AutoSPInstallerOnline"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/Content/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AutoSPInstaller Online</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/FarmConfiguration">Build a Farm</a></li>
            <li><a href="/Guide">Guide</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/Download">Download</a></li>
            <li><a href="/Privacy">ToS & Privacy</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </div>
</nav> <!--Navigation-->
<div class="row">
    <div class="col-md-12">
        <div ng-view></div>
    </div> <!--Content-->
</div>
<footer>
    <div class="row col-md-12">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>
            © 2015 - AutoSPInstaller Online
            <br/><a href="/Privacy">Terms of Service & Privacy Policy</a>
        </p>
    </div>
</footer>
<div id="disqus_thread"></div>

<script src="~/app.js" asp-append-version="true"></script>

<script type="text/ng-template" id="error-messages">
        <div ng-message="required">This field is required.</div>
        <div ng-message="min">This number is too small.</div>
        <div ng-message="max">This number too large.</div>
        <div ng-message="number">A number is required.</div>
        <div ng-message="url">A url is required. IE https://test.doamin.com</div>
        <div ng-message="date">A date is required.</div>
        <div ng-message="email">This email is not valid.</div>
        <div ng-message="integer">A integer is required.</div>
    </script>
@if (Environment.GetEnvironmentVariable("DisableDisqus") != "True")
{
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'autospinstalleronline';
        var disqus_url = 'https://autospinstaller.com';
        var disqus_identifier = 'Main';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <!--DISQUS-->
}
</body>
</html>
